<h1>Stats</h1>
<p> Number of categories in database: <a href="/" class="badge badge-primary">  <%= @categories.length %> </a></p>
<p> Number of products in database: <a href="/admin/products" class="badge badge-primary"> <%= @products.length %> </a></p>
