<article>

<h1>About us</h1>
<p>Welcome to the Jungle. Since September 2019 we've been selling quirky products and reasonable prices. From humble beginnings with the Hipster hat to the modern day staple - the optimal sleeping bed, we've been your one stop shop for all your quirky needs.   </p>

</article>
